div{
    width: 100px;
    height: 100px;
    /* background-color: red; */
    /* display: ; */
    padding: 10px;
    margin: 10px;
}

div input{
    padding: 10px;
    margin: 10px;
}

button{
    padding: 10px;
    margin: 10px;
} 