body {

    font-size: 18px;
    margin: 0;
    
;
}

main {background-color: rgb(255, 127, 223);
height: 100vh;
}

.green{

    color: green;
}

footer p {

    text-align: center;
    font-size: .8em;
}