:root   {
    --primary-color: ##254E70;   
    --secondary-color: #37718e;
    --tertiary-color: #8ee3ef;
    --color-4: #f0f0f0;
    --heaeding-font: "Roboto Slab";
    --paragraph-font: Raleway, sans-serif;
}   

 /* Main content font */
body,h1,h2,h3,h4,h5,h6 {font-family: var(--paragraph-font)}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.backgroundImg-1 {
  background-position: center;
  background-size: cover;
  /* background-image: url("/w3images/mac.jpg"); */
  min-height: 70%;
  background-color: violet;
}

.w3-bar .w3-button {
  padding: 16px;
}

#teamMember {
  background-color: var(--secondary-color);
  /* margin-left: 00px; */
}

#heroImage {
  /* height: 100vh; */
  height: 100%;
  width: 100%;
}

#myGrid img {
  height: 40vh;
  /* height: 100%; */
  width: 300px;
}