:root   {
    --primary-color: ##254E70;   
    --secondary-color: #37718e;
    --tertiary-color: #8ee3ef;
    --color-4: #f0f0f0;
    --heaeding-font: "Roboto Slab";
    --paragraph-font: Raleway, sans-serif;
    --logo-image: url("./images/logo.jpeg");
}   

 /* Main content font */
body,h1,h2,h3,h4,h5,h6 {font-family: var(--paragraph-font)}

body, html {
  height: 100%;
  line-height: 1.8;
}

body {
  margin: 0;
}

/* Full height image header */
.backgroundImg-1 {
  background-position: center;
  background-size: cover;
  /* background-image: url("/w3images/mac.jpg"); */
  min-height: 70%;
  background-color: transparent;
}

.w3-bar .w3-button {
  padding: 16px;
}

#teamMember {
  background-color: var(--secondary-color);
  /* margin-left: 00px; */
  color: white;
}

#teamMember img {
  /* border-radius: 50%; */
  height: 45vh;
  /* margin-left: 35px;
  margin-right: 35px; */
}

#heroImage {
  /* height: 100vh; */
  height: 100%;
  width: 100%;
}



#hero-image-container {
  /* background-size: cover; 
  background-position: center; */
  min-height: 800px;
  background-color: transparent;
  background-image: var(--logo-image);

  /* Parralax Effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  #hero-image-container {
    background-attachment: scroll;
  }
}

#myGrid img {
  height: 40vh;
  /* height: 100%; */
  width: 300px;
}

#cert-images img {
  /* height: 40vh; */
  /* height: 100%; */
  width: 300px;
  margin-left: 35px;
  margin-right: 35px;
  
}

footer {
  color: white;
  background-color: black;
  
}

.footer {
            background-color: #000000;
            color: white;
            padding: 20px;
            position: relative;
            bottom: 0;
            width: 100%;
            text-align: center;
        }

        .footer .social-icons {
            margin: 20px 0;
        }

        .footer .social-icons i {
            color: white;
            padding: 10px;
            margin: 0 5px;
            font-size: 24px;
            text-decoration: none;
            transition: color 0.3s;
        }

        .footer .social-icons i:hover {
            color: #ffcc00;
        }

        .footer p {
            margin: 0;
            padding-top: 10px;
            font-size: 14px;
            color: #aaa;

        }
#grid-agriculture {
  background-color: lightgray;
  color: rgb(0, 0, 0);
}

#grid-manufacturing {
  /* background-color: var(--secondary-color); */
  color: black;
}

#grid-medical{
  background-color: lightgray;
  color: rgb(0, 0, 0);
}

#teamCard {
        height: 60vh; /* Set a fixed height */
        width: 100%; /* Maintain full width */
        object-fit: cover; /* Maintain aspect ratio, cropping as needed */
       
}

.team-member-card {
  margin-left: 65px;
  margin-right: 35px;
}